.App {
  text-align: center;
}

.Start {
  background-image: url(./assets/main/back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: auto;
  width: 100vw;
  height: 56.2vw;
  position: relative;
}
