.BadEnd {
  background-image: url(./assets/lose.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: auto;
  width: 100vw;
  height: 56.2vw;
  position: relative;
}

.BadEndButton {
  width: 20vw;
  height: 14vw;
  position: absolute;
  bottom: 11vw;
  right: 40vw;
  cursor: pointer;
}

.BadEndBug {
  position: absolute;
  top: 17vw;
  right: 41vw;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.BadEndCounter {
  font-size: 2.5vw;
  width: 3.5vw;
  margin-left: 2vw;
}

.BadEndBugIcon {
  width: 4.5vw;
  height: 4.5vw;
}
