.GoodEnd {
  background-image: url(./assets/win.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: auto;
  width: 100vw;
  height: 56.2vw;
  position: relative;
}

.GoodEndButton {
  width: 20vw;
  height: 14vw;
  position: absolute;
  bottom: 11vw;
  right: 40vw;
  cursor: pointer;
}

.lights {
  position: absolute;
  top: 37.5vw;
  left: 1.5vw;
  width: 12vw;
  height: 4.8vw;
  opacity: 1;
  transition: 3s ease;
  animation: blink 3s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.GoodEndWinText {
  width: 50vw;
  height: 20vw;
  position: absolute;
  top: 10vw;
  left: 26vw;
}
