.likely__icon svg, .likely__counter {
  display: none !important;
}

.SocialBlock {
  display: flex;
  bottom: 8vw;
  right: 37vw;
  position: absolute;
}

.SocBut {
  width: 7vw;
  height: 7vw;
  background-position: center center !important;
  color: white;
  font-size: 1.3vw;
  border-radius: 2px;
  margin: 0 5px;
  text-align: center;
  line-height: 4vw;
  border-radius: 50%;
  cursor: pointer;
}

.SocBut span {
  display: none;
}

.VkShare {
  background-color: #5d7294;
  background-image: url(./assets/vk-white-copy.png);
  background-repeat: no-repeat;
  background-position: 10px center;
}

.MatesShare {
  background-color: #ed7c20;
  background-image: url(./assets/ok-white.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}

.FbShare {
  background-color: #475995;
  background-image: url(./assets/fb-white-copy.png);
  background-repeat: no-repeat;
  background-position: 15px center;
}

/*@media (max-width: 768px) {
  .SocialBlock {
    right: 16vw;
  }

  .SocBut {
    width: 7vw;
    height: 7vw;
    background-position: center center !important;
  }
  .SocBut span {
    display: none;
  }
}*/
